@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


nav{
    display: flex;
    position: absolute;
    background-color: transparent;
    justify-content: space-between;
    height: 60px;
    z-index: 200;
    
    
}


nav .logo a{
    text-decoration:none;
    color: white;
    font-size: 34px;
    align-items: center;
    padding-top: 22px;
    padding-left: 15rem;
    display: flex;
    padding-right: 710px;
    
   

}
.items{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 9px;
    align-items: center;

    
    
}

nav ul li a{
    align-items: center;
    display: flex;
    margin-right: 42px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 22px;
    padding-right: 10px;



}

.corpo .texto-corpo{
    background-image: url(../img/PHOTOSHOPbigstock-d-Rendering-Cloud-Computing-267217441_1024X684.png); height: 100vh; width: 84%; top: 0%; left: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    color: white;
    padding-top: 12rem;
    padding-left: 15rem;
    z-index: 100;
    position: absolute;
    
    
    

    
}

.corpo .texto-corpo h1{
    font-size: 44px;
    display: flex;
    
}
.corpo .texto-corpo h3{
    font-size: 22px;
    
}

.conhecimentosclasse, .projectosclasse{
    list-style: none;
}
.projectosclasse{
    padding-bottom: 2%;
}
.corpo .texto-corpo img{
    height: 42%;
    padding-left: 0rem;

}
.corpo .texto-corpo button a {
    border-style: none;
    text-decoration: none;
    color: white;
    font-size: 22px;
    border: 0;
    cursor: pointer;
    background: transparent;
    background-color: black;
    border-color:white;
    padding: 5pt;

    
}
.rodape{
    display: flex;
    color: white;
    position: absolute;
    z-index: 500;
    justify-content: center;
    align-items: flex-end;
}











